<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="sidebar-nav">
    <ul class="nav nav-list">      
      <li class="active"><a href="index"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-edit"></i> Add Blog Post</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-user"></i> Members</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comments</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-picture"></i> Gallery</a></li>
    </ul>
</div>
<div class ="container">
  <div class="row">
    <h2 class="text-center">Inventory Details</h2>
    <div class="table-responsive">          
      <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Device code</th>
        <th>Actual Amount</th>
        <th>Note</th>
        <th>Lab Room</th>
      </tr>
    </thead>
    <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td>1</td>
        <td><%= device.code_of_device %></td>
        <td><%= device.actual_amount %></td>
        <td><%= device.note %></td>
        <td><%= device.lab_room_id%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  </div>
</div>

</div>
</body>
</html>
